.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 1356px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
